<!DOCTYPE html>
<html lang="en">
  <%= partial "header" %>
  <body>
    <div class="container">
      <div class="site">

        <%= partial "logo" %>

        <div class="row">
          <div class="col-md-3">
            <h2>RSpec Guide</h2>
            <ul>
              <li><a href="/guides/rspec">Intro</a></li>
              <li><a href="/guides/rspec/terminology">Terminology</a></li>
              <li><a href="/guides/rspec/what-you-should-test">What You Should Test</a></li>
              <li><a href="/guides/rspec/factories">Factories</a></li>
            </ul>
          </div>
          <div class="col-md-8">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= partial "footer" %>

    <%= partial "scripts" %>
  </body>
</html>
